@charset "utf-8";
/**
	@ Name:			order.css
	@ Introduction:	我的黄历
	@ Author：		gss
	@ Time:			2017.07.08  14:10
**/

body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:0.07rem/1.5 tahoma,arial,\5b8b\4f53;}
body{background:#FFF; color:#323232;}
h1,h2,h3,h4,h5,h6{font-size:100%; }
em,i{font-style:normal;}
fieldset,img{border:0;}
img{max-width:100%; height:auto;}
ul,ol{list-style:none;}
a{text-decoration:none;outline:none; color:#323232;-webkit-tap-highlight-color:rgba(0,0,0,0) }
a:hover{text-decoration:none;}
.clear{clear:both;display:block;height:0;overflow:hidden;font-size:0;}
button,input,select,textarea{font-size:100%;outline:none;background-color:#FFF}
table{border-collapse:collapse;border-spacing:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.hide{display:none;}
button{font-weight:normal!important;}
.ui-nowrap{
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.txt-center {
	text-align: center;
}
.txt-right{text-align:right;}
.page-wrapper{width:3.75rem; margin:0 auto;}
.ui-row-flex {
	display: -webkit-box;
	width: 100%;
	box-sizing: border-box;
	z-index:1000;
}
.ui-row-flex .ui-col {
	-webkit-box-flex: 1;
	width: 0;
	box-sizing: border-box;
}
.ui-row-flex .ui-col-2 {
	-webkit-box-flex: 2;
}
.ui-row-flex .ui-col-3 {
	-webkit-box-flex: 3;
}
.ui-row-flex .ui-col-4 {
	-webkit-box-flex: 4;
}
.ui-row-flex .ui-col-5 {
	-webkit-box-flex: 5;
}
.ui-row-flex .ui-col-6 {
	-webkit-box-flex: 6;
}
/*dialog*/
.ui-dialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	background: rgba(0,0,0,.4);
	-webkit-box-pack: center;
	display: none;
}
.ui-dialog.show {
	display: -webkit-box;
	display: box;
}
.ui-dialog-hd {
	height: 48px;
	line-height: 48px;
	text-align: center;
	position: relative
}

.ui-dialog-cnt {
	width:3rem;
	background-clip: padding-box;
	pointer-events: auto;
	background-color: rgba(253,253,253,.95);
	position: relative;
	font-size: 0.15rem;
	border-radius:0.05rem;
}

.ui-dialog-bd {
	padding:0.21rem 0.24rem;
	display: -webkit-box;
	display: box;
	text-align: left;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-box-orient: vertical
}

.ui-dialog-bd>h4 {
	width: 100%;
	margin-bottom:0.06rem;
	line-height:100%;
	font-size: 0.18rem;
}
.confirm-del {
	padding: 0.3rem 0 0.2rem;
}
.ui-dialog-bd>div,.ui-dialog-bd>ul {
	width: 100%
}

.ui-dialog-ft {
	display: -webkit-box;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-align: center;
	height: 0.42rem;
	line-height: 0.42rem
}
.ui-dialog-ft button {
	text-align: center;
	border:0;
	width: 100%;
	line-height: 42px;
	background: 0 0;
	display: block;
	-webkit-box-flex: 1
}
.dialog-btn1{color:#aaa;}
.dialog-btn2{color:#df001f;}
.list-icon{
	display:inline-block;
	width:0.275rem;
	height:0.275rem;
	margin-bottom:0.06rem;
	background:url(images/icons.png) no-repeat 0 0;
	background-size:1.1rem 1.925rem;
	vertical-align:middle;
}
